{% load i18n %}
{% load static %}
<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"-->

<style>
#map { position:absolute;
	top: 55px;
    bottom: 55px;
	max-width: 585px;
	width:100%;
}
.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
</style>

<div id='map'></div>

<script>
	var music_longitude = '{{ object.longitude }}';
	var music_latitude = '{{ object.latitude }}';
	point = [];
	mapboxgl.accessToken = 'pk.eyJ1IjoiYWJ1ZHVsZW11c2EiLCJhIjoiY2p3cTBmYmNwMjNkdjN5bnN3bTJra29qeSJ9.kcz_P7jl3iI8vRZZa283cQ';

	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v10',
		center: [108.7070345879, 34.2957018227],
		zoom: 3
	});

	mapboxgl.setRTLTextPlugin("{% static 'js/plugins/mapbox/mapbox-gl-rtl-text.js' %}");
	map.addControl(new MapboxLanguage({defaultLanguage: 'zh'}));

	var size = 200;

	var pulsingDot = {
		width: size,
		height: size,
		data: new Uint8Array(size * size * 4),

		onAdd: function() {
			var canvas = document.createElement('canvas');
			canvas.width = this.width;
			canvas.height = this.height;
			this.context = canvas.getContext('2d');
		},

		render: function() {
			var duration = 1000;
			var t = (performance.now() % duration) / duration;

			var radius = size / 2 * 0.3;
			var outerRadius = size / 2 * 0.7 * t + radius;
			var context = this.context;

			// draw outer circle
			context.clearRect(0, 0, this.width, this.height);
			context.beginPath();
			context.arc(this.width / 2, this.height / 2, outerRadius, 0, Math.PI * 2);
			context.fillStyle = 'rgba(255, 200, 200,' + (1 - t) + ')';
			context.fill();

			// draw inner circle
			context.beginPath();
			context.arc(this.width / 2, this.height / 2, radius, 0, Math.PI * 2);
			context.fillStyle = 'rgba(255, 100, 100, 1)';
			context.strokeStyle = 'white';
			context.lineWidth = 2 + 4 * (1 - t);
			context.fill();
			context.stroke();

			// update this image's data with data from the canvas
			this.data = context.getImageData(0, 0, this.width, this.height).data;

			// keep the map repainting
			map.triggerRepaint();

			// return `true` to let the map know that the image was updated
			return true;
		}
	};

	if (music_longitude != 'None' & music_latitude != 'None'){
		var music_description = "<strong>{{ object.name }}</strong><p>{% trans 'Gallery count' %}:{{ object.gallerys.count }}</p>";

		map.on('load', function () {

			map.addImage('pulsing-dot', pulsingDot, { pixelRatio: 2 });

			map.addLayer({
				"id": "points",
				"type": "symbol",
				"source": {
					"type": "geojson",
					"data": {
						"type": "FeatureCollection",
						"features": [{
							"type": "Feature",
							"properties": {
								"description": music_description,
								"icon": "theatre"
							},
							"geometry": {
								"type": "Point",
								"coordinates": [music_longitude, music_latitude]
							}
						}]
					}
				},
				"layout": {
					"icon-image": "pulsing-dot",
					// "icon-image": "{icon}-15",
					"icon-allow-overlap": true
				}
			});

			// When a click event occurs on a feature in the places layer, open a popup at the
			// location of the feature, with description HTML from its properties.
			map.on('click', 'points', function (e) {
				var coordinates = e.features[0].geometry.coordinates.slice();
				var description = e.features[0].properties.description;

				// Ensure that if the map is zoomed out such that multiple
				// copies of the feature are visible, the popup appears
				// over the copy being pointed to.
				while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
					coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
				}

				new mapboxgl.Popup().setLngLat(coordinates).setHTML(description).addTo(map);
			});

			// Change the cursor to a pointer when the mouse is over the places layer.
			map.on('mouseenter', 'points', function () {
				map.getCanvas().style.cursor = 'pointer';
			});

			// Change it back to a pointer when it leaves.
			map.on('mouseleave', 'points', function () {
				map.getCanvas().style.cursor = '';
			});
		});

	}

</script>
